#app-container {
    border: 3px solid black;
    background-color: white;
}

.sidebar-link {
    display: block;
    padding: 1em;
    box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2);
}

#cat-face {
    margin: 0 auto;
    display: block;
    height: 100px;
    width: 100px;
}

.sidebar-img {
    padding: 2em 1em;
    width: 100%;
    align-content: center;
    text-align: center;
    box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2);
}