.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  left: 25px;
  top: 36px;
}
  
.bm-burger-bars {
  background: white;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu {
  background: white;
  width: 99%;
  font-size: 1.15em;
}

.bm-item-list {
  color: #b8b7ad;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}