header > h1 {
    /* text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black; */
    margin: 0;
    padding: 0;
    display: inline-block;
    clear: both;
}

.jumbotron {
    background: white;
    color: orange;
}

header {
    display: flex;
    justify-content: center;
    background-color: white;
    border: 0;
    position: relative;
}

/* .nyan-cat {
    left: 100%;
    top: 0;
    max-width: 100%;
    width: 150px;
    height: 100%;
    position: absolute;
    background-image: url("../../assets/nyan-cat.gif");
    background-size: cover;
    animation: myanimation 3s ease-in;
} */

/* @keyframes myanimation
{
    from {
        left: -40%;
    }
    to {
        left: 100%;
    }
} */