.container a {
    text-decoration: none;
    color: white
}

h1 {
    text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}

.header-div {
    background-image: url("../../assets/background-tabby.jpg");
    background-size: cover;
}

.container a:hover{
    text-decoration: none;
    color: #f1b070
}

.container a:click{
    text-decoration: none;
    color: blue
}