.inner-display-div {
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    text-align: center;
    background:rgba(255, 255, 255, .9);
    border-radius: 25px;
    border: 4px solid grey;
}

.inner-display-div > h2 {
    color: rgb(241, 140, 7);
}

.field-line >input{
    width: 100%;
    margin-bottom: 3px;
}

#sign:hover {
    text-decoration: none;
    color: black;
} 

#sign {
    color: rgb(241, 140, 7);
}

@media only screen and (min-width: 768px) {
    .inner-display-div {
        margin: 0 auto;
        width: 70%;
    }
} 

/* header::before, header::after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
}

.header-div {
    transition: color 0.25s;
    background-color: white;
}

.header-div::before, .header-div::after {
    border: 4px solid transparent;
    width: 0;
    height: 0;
}

.header-div::before {
    top: 0;
    left: 0;
}

.header-div::after {
    bottom: 0;
    right: 0;
}

.header-div:hover {
    color: cyan;
}

.header-div:hover::before, .header-div:hover::after{
    width: 100%;
    height: 100%;
}

.header-div:hover::before {
    border-top-color: cyan;
    border-right-color: cyan;
    transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
    -webkit-transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}

.header-div:hover::after {
    border-bottom-color: cyan;
    border-left-color: cyan;
    transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
    -webkit-transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
} */