.container {
    width: 100%
}

.leaderboard-results {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.list-item-header {
    border: 2px solid black;
    margin-bottom: 0%;
}